<h2>Search Doctor</h2>

<form method="post" action="/Doctor/SearchBySpecialization">
    <input name="specialization"
           class="form-control"
           placeholder="Enter specialization" />

    <button class="btn btn-primary mt-2">Search</button>
</form>