@model Application.DTOs.Profiles.Patients.PatientProfileDto

@{
    ViewData["Title"] = "Edit Profile";
}

<h2>Edit My Profile</h2>

<form method="post">
    <div class="mb-3">
        <label>Full Name</label>
        <input asp-for="FullName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" type="email" />
    </div>

    <div class="mb-3">
        <label>Phone</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Birth Date</label>
        <input asp-for="BirthDate" class="form-control" type="date" />
    </div>

    <button class="btn btn-success">Save Changes</button>
    <a class="btn btn-secondary" href="/Patient/Profile">Cancel</a>
</form>
