@model Application.DTOs.Auth.ForgotPasswordDto

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="card auth-card shadow">

    <div class="auth-header text-center">
        <h3>Forgot Password</h3>
    </div>

    <div class="card-body p-4">

        <form asp-action="ForgotPassword" method="post">

            <div class="mb-3">
                <label asp-for="Email"></label>

                <input asp-for="Email"
                       class="form-control" />

                <span asp-validation-for="Email"
                      class="text-danger"></span>
            </div>

            <button type="submit"
                    class="btn btn-primary w-100">
                Send Reset Link
            </button>

        </form>

    </div>
</div>